fastapi
uvicorn[standard]
python-multipart
sqlalchemy
passlib[bcrypt]
pyjwt
pydantic
email-validator
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
pymupdf
dash
dash-bootstrap-components
dash-uploader
requests
streamlit
python-dotenv
